<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>黑农首页</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/common.html}"/>
</head>
<body style="background-color: green">
    <form>
        <div>
            <label>用户：</label><input/>
        </div>
        <div>
            <label>密码：</label><input/>
        </div>
        <div>
            <button class="btn">提交</button>
        </div>
    </form>
</body>
<script th:src="@{/static/js/index.js}"></script>
</html>