<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>黑农首页</title>
    <object style="border:0px" type="text/x-scriptlet" data="/static/common.html" width=0 height=0></object>
</head>
<body style="background-image: url(/static/img/index.jpg)">
<label style="color: wheat" class="h1">黑农集团</label>
    <form>
        <div>
            <label>用户：</label><input/>
        </div>
        <div>
            <label>密码：</label><input/>
        </div>
        <div>
            <button class="btn">提交</button>
        </div>
    </form>
</body>
<script th:src="@{/static/js/index.js}"></script>
</html>