<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>友情提示</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap-theme.css}"/>
    <!--JQ-->
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <!--bootstrap-->
    <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/My97DatePicker/lang/zh-cn.js}"></script>

</head>
<body style="background-image: url(/static/img/index.jpg);margin: 0;padding: 0;text-align: center">
    <div style="width: 100%;text-align: left">
        <label style="color: wheat;margin-left: 2%;" class="h1">500</label>
    </div>
</body>
<!--<script type="application/javascript" th:src="@{/static/js/index.js}"></script>-->
</html>